<!-- <app-component-navbar></app-component-navbar> -->

<form  class="form">
        
    <div id="campos">
      <label for="username" id="label">Correo</label>
      <input type="text" id="email" name="username" formControlName="email" required  class="input" placeholder="Correo">
    </div>
    <div id="campos">
      <label for="password" id="label">Contraseña</label>
      <input type="password" id="password" name="password" formControlName="password" required class="input"  placeholder="Contraseña">
      
    </div>
    
    <button type="submit" class="button">Confirmar</button>
  </form>
