<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h3>Featured Product</h3>
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
        <div class="row" >
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="single-product" *ngFor="let item of products; let i = index">
                    <div class="part-1" [style.background-image]="'url(' + item.image1 + ')'">
                        <img clas="part-1"  />
                        
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{item.name}}</h3>
                        <h4 class="product-old-price">{{item.description1}}</h4>
                        <h4 class="product-price">{{item.price1}}</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>