<!-- <div class="singup"> 
  <h2 class="titulo" >CellTech📱</h2>
  <h4 class="tam">CREAR UNA CUENTA</h4>  
  <form (ngSubmit)="prueba()"  [formGroup]="form" class="form">
    

    <div id="campos">
      <label for="username" id="label">Nombre</label>
      <input type="text" id="apellido" name="username" formControlName="nombre" required  class="input" placeholder="nombre">
    </div>
    <div id="campos">
      <label for="username" id="label">Apellido</label>
      <input type="text" id="apellido" name="username" formControlName="apellido" required  class="input" placeholder="apellido">
    </div>
    <div id="campos">
      <label for="username" id="label">Correo</label>
      <input type="text" id="email" name="username" formControlName="email" required  class="input" placeholder="Correo">
    </div>
    <div id="campos">
      <label for="password" id="label">Contraseña</label>
      <input type="password" id="password" name="password" formControlName="password" required class="input"  placeholder="Contraseña">
      
    </div>
    
    
    <button type="submit" class="button">Confirmar</button>
  </form>
</div> -->